*{margin: 0;padding: 0;}
*,*:hover,*:active,*:focus{outline: none}
*::-webkit-input-placeholder {color: #666;opacity: 1;}
*:-moz-placeholder {color: #666;opacity: 1;}
*::-moz-placeholder {color: #666;opacity: 1;}
*:-ms-input-placeholder {color: #666;opacity: 1;}
p{margin: 0;padding: 0;}
body{font-family: Arial;}
.left{float: left;}
.right{float: right;}
.clr {clear: both;}
.wrapper{width:1070px;padding: 15px;margin: 0 auto;}